*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.clearfix {
  overflow: auto;
}
html, body {
	background-color:#ffffff;
	height: 100%;
	font-size: 11px
}
h3 {
	color: #383838;
}
.caption-tea {
	color: #383838;
	text-align: center;
}
.social {
	margin: 5% 0 0 0;
	padding: 0;
	text-align: center;
}
.social ul {
	margin: 0;
	padding: 5px;
}
.social ul li {
	margin: 5px;
	list-style: none outside none;
	display: inline-block;
}
.social i {
	color: #505050;
	background-color: #ffffff;
}
.social i:hover {
	color: #006600;
}
.container {
	width: 100%;
	margin-top: 5px;
}
@media screen and (max-width: 549px) {
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	.contents 	{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.content {
		display: block;
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	/*
	.title-tea {
		margin-top: 7%;
		margin-bottom: 5%;
		margin-left: 12%;
	}*/
	.image-tea {
		max-width: 70%;
		margin-top: 10%;
		margin-bottom: 5%;
	}
}
@media screen and (min-width: 550px) and (max-width: 767px) {
	.contents {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.content {
		display: block;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	/*
	.title-tea {
		margin-top: 5%;
		margin-bottom: 3%;
		margin-left: 20%;
	}*/
	.image-tea {
		max-width: 65%;
		margin-top: 10%;
		margin-bottom: 5%;
	}
	.social {
		margin-top: 2%;
	}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
	/*
	.title-tea {
		margin-left: 10%;
	}*/
	.image-tea {
		max-width: 40%;
		margin-top: 2%;
		margin-bottom: 3%;
	}
	.social {
		margin-top: 2%;
	}
}
@media screen and (min-width: 991px) and (max-width: 1101px) {
	/*
	.title-tea {
		margin-left: 10%;
	}*/
	.image-tea {
		max-width: 30%;
		margin-top: 1%;
		margin-bottom: 2%;
	}
	.social {
		margin-top: 2%;
	}
}
@media screen and (min-width: 1102px) {
	/*
	.title-tea {
		margin-left: 9%;
		margin-top: -2%;
	}*/
	.image-tea {
		max-width: 30%;
		margin-top: 0;
		margin-bottom: 2%;
	}
	.social {
		margin-top: 2%;
	}
} 