*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.clearfix {
  overflow: auto;
}
html, body {
	background-color:#ffffff;
	height: 100%;
	font-size: 12px
}
.nav-item {
	color: #383838;
	text-align: center;
	padding-bottom:0; margin-bottom:0;
}
.nav-shop, .nav-shop:active, .nav-shop:visited {
	color: #383838;
}
.nav-about:hover,  .nav-location:hover, .nav-shop:hover, .nav-press:hover {
	color: #006600;
	text-decoration: none;
}
.nav-about, .nav-about:active, .nav-about:visited {
	color: #383838;
}
/*dropdown menu*/
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;

	list-style: none;
	width: 100%;
	padding: 0;

	font-size: 11px;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown:hover .nav-about-tea:hover,  .dropdown:hover .nav-about-coffee:hover, .dropdown:hover .nav-location-cleveland:hover {
	color: #006600;
}
.text-box {
	text-align: center;
	padding: 0;
}
.social {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social ul {
	margin: 0;
	padding: 5px;
}
.social ul li {
	margin: 5px;
	list-style: none outside none;
	display: inline-block;
}
.social i {
	color: #383838;
	background-color: #ffffff;
}
.social i:hover {
	color: #006600;
}
.vintage-logo {
	max-width: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.container {
	width: 100%;
}
.address, .address:hover, .address:active, .address:visited {
	color: #505050;
}
.nav-col-about {
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
}
.nav-col-shop {
	text-align: center;
	padding-bottom: 10%;
}
.nav-col-location {
	text-align: center;
	padding-bottom: 5%;
}
.nav-col-press {
	text-align: center;
	padding-bottom: 10%;
}/*
.day-box {
	padding-left: 30%;
	padding-right: 3%;
	text-align: right;
	line-height: 1.2em;
}
.hour-box {
	padding-right: 30%;
	padding-left: 2%;
	line-height: 1.2em;
}
.days, .hours {
	color: #505050;
}*/
/*
.contactUs {
	text-align: right;
	padding-left: 78%;
	font-size: 1.0vw;
}
.contactUs:hover {
	color: #BCBBBB;
}
.contactUs:active {
	color: #BCBBBB;
}
.contactUs:visited {
	color: #BCBBBB;
}*/
@media screen and (max-width: 414px) {
	.blank-col-1 {
		margin-left: 0;
		padding-left: 0;
	}
}
@media screen and (min-width: 415px) and (max-width: 449px) {
}
@media screen and (min-width: 430px) {
		.container {
		width: 430px;
		margin-left: auto;
		margin-right: auto;
	}

}