*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.clearfix {
  overflow: auto;
}
html, body {
	/*background-color: #000000;*/
	background-color:#ffffff;
	height: 100%;
	font-size: 11px
}
.text-box {
	text-align: center;
	padding: 0;
}
.social {
	margin: 0;
	padding: 0;
}
.social ul {
	margin: 0;
	padding: 5px;
}
.social ul li {
	margin: 5px;
	list-style: none outside none;
	display: inline-block;
}
.social i {
	color: #505050;
	background-color: #ffffff;
}
.vintage-logo {
	max-width: 30%;
	margin-top: 8%;
	margin-bottom: 4%;
}
.container {
	width: 100%;
}
.address, .address:hover, .address:active, .address:visited {
	color: #505050;
}
.online-store, .online-store:hover, .online-store:active, .online-store:visited {
	color: #505050;
	border-left: solid #505050;
	border-right: solid #505050;
	border-width: thin;
	padding-left: 3%;
	padding-right: 3%;
}
.online-store-box {
	margin-top: 0.5%;
	margin-bottom: 2.5%;
}
.day-box {
	padding-left: 30%;
	padding-right: 3%;
	text-align: right;
	line-height: 1.2em;
}
.hour-box {
	padding-right: 30%;
	padding-left: 2%;
	line-height: 1.2em;
}
.days, .hours {
	color: #505050;
}
/*
.contactUs {
	text-align: right;
	padding-left: 78%;
	font-size: 1.0vw;
}
.contactUs:hover {
	color: #BCBBBB;
}
.contactUs:active {
	color: #BCBBBB;
}
.contactUs:visited {
	color: #BCBBBB;
}*/
@media screen and (max-width: 414px) {
	.social ul {
		margin-left: 35.5%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 415px) and (max-width: 449px) {
	.social ul {
		margin-left: 36%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 450px) and (max-width: 499px) {
	.social ul {
		margin-left: 38%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 500px) and (max-width: 599px) {
	body {
		font-size: 11.5px;
	}
	.social ul {
		margin-left: 40.5%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 600px) and (max-width: 613px) {
	body {
		font-size: 12px;
	}
	.social ul {
		margin-left: 41%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 614px) and (max-width: 630px) {
	body {
		font-size: 12px;
	}
	.social ul {
		margin-left: 41.5%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 631px) and (max-width: 690px) {
	body {
		font-size: 12px;
	}
	.social ul {
		margin-left: 42%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 691px) and (max-width: 699px) {
	body {
		font-size: 12px;
	}
	.social ul {
		margin-left: 42%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 700px) and (max-width: 799px) {
	body {
		font-size: 13px;
	}
	.social ul {
		margin-left: 42.5%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 800px) {
	.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	body {
		font-size: 13.5px;
	}
	.social ul {
		margin-left: 42.5%;
		margin-right: 20%;
	}
}